//Webpack functions 
//Take the input
//Bundle it
//return to output
var path = require('path');
var HtmlWebpackPlugin = require('html-webpack-plugin');
module.exports = {
	//input for webpack
	entry: './app/index.js',

	//output destination
	output: {
		path: path.resolve(__dirname, 'dist'),
		filename: 'index_bundle.js'
	},

	//Rules for bundling
	module:{
		rules: [

			//All files ending with js will be run by babel-loader
			{test: /\.(js)$/, use: 'babel-loader'},
			{test: /\.css$/, use:['style-loader','css-loader']}
		]
	},
plugins: [ new HtmlWebpackPlugin({
	template : 'app/index.html'
})]
}
